<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <connectionStrings>
    <add name="HotelServiceContext"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;
                           Initial Catalog=HotelServiceDB;
                           Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RestJsonServiceBehavior">
          <webHttp defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" helpEnabled="true"/>
        </behavior>
        <behavior name="RestXmlServiceBehavior">
          <webHttp defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Xml" helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="HotelService.Contracts.Implementation.HotelService"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address="RestJson" binding="webHttpBinding" contract="HotelService.Contracts.IHotelService" behaviorConfiguration="RestJsonServiceBehavior"/>
        <endpoint address="RestXml" binding="webHttpBinding" contract="HotelService.Contracts.IHotelService" behaviorConfiguration="RestXmlServiceBehavior"/>
        <endpoint address="Soap" binding="basicHttpBinding" contract="HotelService.Contracts.IHotelService"></endpoint>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>